* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}


@mixin navBarWidth {
    width: 12vw;
}
@mixin bodyWidth {
    width: 88vw;
}


.main {
    display: flex;
}
.nav-bar {
    @include navBarWidth();
    position: relative;
}
.body {
    @include bodyWidth();
    background-color: grey;
}


.nav-bar-wrapper {
    @include navBarWidth();
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(60,60,60);
}
.nav-bar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    font-size: 1.2rem;
    background-color: rgb(25,25,25);
}
.nav-list-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 10vh 10vh;
    gap: 5px;
    margin-top: 5px;
}
.nav-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55,55,55);
}
.nav-button:hover {
    cursor: pointer;
    background-color: rgb(50,50,50);
}


.home-header-title {
    height: 100vh;
    width: min-content;
    white-space: nowrap;
    position: relative;
    left: 5vw;
    top: 10vh;
    font-size: 5rem;
}


.home-project-wrapper {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 22vw 22vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.home-project {
    justify-self: center;
    height: 20vw;
    width: 37vw;
    border: 1px solid white;
    background-color: grey;
    border-radius: 10px;
}
.home-project:hover {
    height: 20.8vw;
    width: 37.8vw;
    border: 1px solid black;
    cursor: pointer;
}


.home-contact-form-wrapper {
    width: 80%;
    margin: auto;
    display: block;
    height: 290px;
    border-radius: 10px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 10px;
    border: 1px solid whitesmoke;
}
.home-contact-form {
    display: grid;
    grid-template-columns: auto auto;
}
.span-two-rows {
    grid-column: 1/3;
}
.form-element-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-input {
    color: black;
    font-size: 1rem;
}
.message-form-input {
    height: 135px;
}
.button-form-input {
    width: 20vw;
    margin: auto;
    background-color: whitesmoke;
    color: black;
}
.button-form-input:hover {
    cursor: pointer;
    background-color: grey;
}
textarea, input {
    padding: 1px;
    padding-left: 2px;
    resize: none;
}